# Exclude Git and Docker metadata
.git
.gitignore
.dockerignore

# Exclude local build artifacts
bin/
obj/
**/bin/
**/obj/

# Exclude client-side dependencies and package managers
node_modules/
.npm/
*.log

# Exclude web / client-side compilation outputs
dist/
wwwroot/dist/

# Exclude IDE/Editor files
.vs/
.vscode/
.idea/

# Exclude local environment files
*.env
*.saved-records
appsettings.Local.json

# Exclude other common junk
.DS_Store
Thumbs.db