@page "/"

<PageTitle>Home</PageTitle>

<h1>MedRef - Medical Reference tool for ICD codes</h1>

Welcome to MedRef, your go-to medical reference tool for ICD codes. Whether you're a healthcare professional, student,
or simply interested in learning more about medical coding, MedRef provides a comprehensive and user-friendly platform
to explore and understand ICD codes.
